#root {
    /*only targets web app not mobile app*/
}

/*Pokemon.js*/
.back {
    text-align: center;
}

.paperback {
    color: red;
    padding: 1em;
    font-size: 2em;
}

.name, .type, .number, .category, .abilities, .weaknesses {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.weaknesses {
    padding: 0 0.2em 0 0.2em;
}

.image {
    align-self: center;
    margin: 1em 0 1em 0;
    background-color: blue;
}

/*Home.js*/
.display {
    font-size: 2em;
    color: rebeccapurple;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
}